node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.local
.env.*.local
.next
out
.vercel
.turbo
coverage
dist
build
*.md
.vscode
.idea
.DS_Store
.cache
yarn-error.log
.eslintcache
jest.config.js
jest.setup.js
eslint.config.mjs
postcss.config.mjs
tsconfig.json
next.config.ts
.gitignore
Dockerfile
.dockerignore
docker-compose.yml
