target
.git
.gitignore
README.md
.DS_Store
.idea
*.iml
.vscode
.env
.env.local
.env.*.local
node_modules
npm-debug.log
*.log
.cache
.classpath
.project
.settings
.eclipse
Dockerfile
.dockerignore
docker-compose.yml
.mvn
mvnw
mvnw.cmd
